body {
	background-image: url(../images/tileable_wood_texture-min.png);
}
#navbar {
	background-image: url(../images/beanstalk-min.png);
	border: solid 0.8px indigo;
	box-shadow: 0 0 22px rgb(132, 85, 24);
}
.main-container {
	box-shadow: 0 0 22px rgb(132, 85, 24);
	margin-top: 60px;
	background-image: url(../images/beanstalk-min.png);
	line-height: 2em;
}
.head-container {
	text-align: center;
	margin-top: 20px;
	color: black;
}
.row {
	margin: 25px;
}
.questions {
	font-size: 28px;
	text-align: center;
	font-style: italic;
}

/* hides the answer buttons.  */
.answer {
	display: none;
}
.hide {
	display: none;
}
.btn {
	background-color: rgb(109, 20, 173);
	color: greenyellow;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
}
.btn:hover {
	box-shadow: 0 0 10px rgb(117, 14, 191);
	background-color: rgb(117, 14, 191);
	color: white;
}
footer {
	text-align: center;
	background-color: #ccc;
	box-shadow: 0 0 22px rgb(132, 85, 24);
	color: indigo;
	height: 30px;
	align-self: center;
	border-top: solid 0.8px indigo;
	position: fixed;
	bottom: 0;
	width: 100%;
}
@media (max-width: 680px) {
	body {
		background-color: rgb(62, 62, 62);
	}
	.navbar {
		padding: 0;
	}
	.btn {
		background-color: indigo;
		width: 100%;
		/* margin: 0 auto; */
	}
	.main-container {
		padding: 0;
		margin: 0 auto;
	}
}
